@model BIC.Models.ItemConhecimentoModelView
@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<div class="row" >
<div class="col-md-3"></div>

@using (Html.BeginForm("HandleForm", "Item", FormMethod.Post)) { 
<div class="container col-md-8" id="main" style="background-color: white;">

    <div class="row" >
		<div class="col-md-1"></div>
        <div class="col-md-2"><font size="3">Tema : </font></div>
        @if (string.IsNullOrWhiteSpace(Model.tema_id)) {
            <div class="col-md-3">"Escolha um tema"</div>
        } else {
           <div class="col-md-6"><font size="3">@Model.tema_Nome</font></div>
            @Html.HiddenFor(model => model.tema_id)
            @Html.HiddenFor(model => model.tema_Nome)
        }
		
	</div>
    <div>&nbsp</div>
 @if (!string.IsNullOrWhiteSpace(Model.tema_id)) {
     <div class="row" >
    <div class="col-md-1"></div>
        <div class="col-md-2"><font size="3">Tipo : </font></div>

        @if (string.IsNullOrWhiteSpace(Model.Tipo)) {
        <div class="col-md-3" ><font size="2">@Html.DropDownListFor(x => x.Tipo, new[] {
                                                new SelectListItem() {Text = "Boas Práticas", Value = "BP"},
                                                new SelectListItem() {Text = "Lição Aprendida", Value = "LA"},
                                                new SelectListItem() {Text = "Ponto de Atenção", Value = "PA"}
                                                }, "Escolha um tipo")</font></div>

        
        } else {
            <div class="col-md-3" id="tipoescolhido">
            @if (@Model.Tipo.Equals("BP")) {<font size="3">Boas Práticas</font>}
            @if (@Model.Tipo.Equals("LA")) { <font size="3">Lição Aprendida</font>}
            @if (@Model.Tipo.Equals("PA")) { <font size="3">Ponto de Atenção</font>}
            </div>
        }
        </div>
     <div>&nbsp</div>
	<div class="row" >
		<div class="col-md-1"></div>
        <div class="col-md-2"><font size="3">Titulo : </font></div>
        @if (string.IsNullOrWhiteSpace(Model.Nome)) {
            <div class="col-md-3">@Html.TextBoxFor(model => model.Nome)</div>
        } else {
           <div class="col-md-6"  id="titulo"><font size="3">@Model.Nome</font></div>
        }
		
	</div>
     
    <div>&nbsp</div>
    if (!string.IsNullOrWhiteSpace(Model.Data) || Model.Data !="") {
     <div class="row" >
		<div class="col-md-1"></div>
        <div class="col-md-2"><font size="3">Data : </font></div>
       
            <div class="col-md-3"><font size="3">@Model.Data</font></div>	
	</div>
        }
    <div>&nbsp</div>
    <div class="row">
        <div class="col-md-1"></div>
		<div class="col-md-2"><font size="3">Fonte :</font></div>
		 @if (string.IsNullOrWhiteSpace(Model.Fonte)) {
            <div class="col-md-3">@Html.TextBoxFor(model => model.Fonte)</div>
   } else {
           <div class="col-md-6"><font size="3">@Model.Fonte</font></div>
   }
    </div>
    <div>&nbsp</div>
     
     <div id="perguntasPA">
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-2"><font size="3">O que fazer?</font></div>
		     @if (string.IsNullOrWhiteSpace(Model.Oque)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Oque)</div>
       } else {
               <div class="col-md-3"><font size="3">@Model.Oque</font></div>
       }
        </div>
    <div>&nbsp</div>
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-2"><font size="3">Porque fazer? </font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Porque)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Porque)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Porque</font></div>
      }
        </div>
    <div>&nbsp</div>
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-2"><font size="3">Complemento</font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Complemento)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Complemento)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Complemento</font></div>
      }
        </div>
    </div>
     
     <div id="perguntasBP">
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-2"><font size="3">Razão : </font></div>
		     @if (string.IsNullOrWhiteSpace(Model.Razao)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Razao)</div>
       } else {
               <div class="col-md-3"><font size="3">@Model.Razao</font></div>
       }
        </div>
    <div>&nbsp</div>
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-2"><font size="3">Detalhes : </font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Detalhes)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Detalhes)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Detalhes</font></div>
      }
        </div>
    <div>&nbsp</div>
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-2"><font size="3">Complemento</font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Complemento)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Complemento)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Complemento</font></div>
      }
        </div>
    </div>
    
     <div id="perguntasLA">
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-4"><font size="3">O que era esperado acontecer?</font></div>
		     @if (string.IsNullOrWhiteSpace(Model.Esperado)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Esperado)</div>
       } else {
               <div class="col-md-3"><font size="3">@Model.Esperado</font></div>
       }
        </div>
    <div>&nbsp</div>
        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-4"><font size="3">O que realmente aconteceu?</font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Aconteceu)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Aconteceu)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Aconteceu</font></div>
      }
        </div>
    <div>&nbsp</div>

    <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-4"><font size="3">Por que ocorreram as diferenças?</font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Diferencas)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Diferencas)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Diferencas</font></div>
      }
        </div>
    <div>&nbsp</div>

    <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-4"><font size="3">O que podemos aprender?</font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Aprendizado)) {
                <div class="col-md-3">@Html.TextBoxFor(model => model.Aprendizado)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Aprendizado</font></div>
      }
        </div>
    <div>&nbsp</div>

        <div class="row">
        <div class="col-md-1"></div>
		    <div class="col-md-4"><font size="3">Complemento:</font></div>
		    @if (string.IsNullOrWhiteSpace(Model.Complemento)) {
                <div class="col-md-3" >@Html.TextBoxFor(model => model.Complemento)</div>
      } else {
               <div class="col-md-3"><font size="3">@Model.Complemento</font></div>
      }
        </div>
    </div>
     
     <div>&nbsp</div>
    
     <div class="row col-md-8">
    @if (string.IsNullOrWhiteSpace(Model.Nome)) {
    
		<input id="btnSubmit" class="btn btn-default btn-lg btn-block" type="submit" value="Submit" />
    }
    </div>
 }
</div>
}
<div class="col-md-5"><div>&nbsp</div></div>
</div>